/* NAVBAR */
#logo {
    font-family: 'Oranienbaum', serif;
    font-size: 60px;
    font-weight: lighter;
    background-image: url(../images/floral_background.jpg);
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent
}

.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem
}

.header {
    color: goldenrod
}

.header:hover { 
    color: white
}

.fa{
    color:darkgoldenrod;
    padding: 8px;
    border: solid;
    border-width: 1px;
    border-color: darkgoldenrod
}

.dropdown-item:hover{
    color: white;
    background-color:#343a40
}

.dropdown-menu{
    border: solid;
    border-width: 1px;
    border-color: darkgoldenrod
}

/* HOME PAGE */
#hello {
    color: goldenrod;
    font-family: 'Oranienbaum', serif;
}

img{
    transform: rotate(90deg);
    height: 200px;
    width: auto;
    padding: 1px;
    border: solid 2px darkgoldenrod
}

/* #wave {
    margin-left: 2px;
    color: goldenrod;
    transform: rotate(30deg);
    font-size: 35px;
    position: relative;
    top: -8px
} */

/* CONTACT PAGE */
#contact-header{
    font-family: 'Oranienbaum', serif;
}

.contact-text {
    color: goldenrod;
}


.btn-default {
    background-color: darkgoldenrod;
    color: #343a40
}

.btn-default:hover { 
    background-color: goldenrod;
    color: white;
}


hr {
    border: solid;
    border-color: goldenrod;
    border-width: 0.5px
}


@media screen and (max-width: 1198px) {

    img{
        height: 150px;
        width: auto
    }
}

@media screen and (max-width: 991px) {

    img{
        height: auto;
        margin-right: 5px;
        width: 150px;
        position: relative;
        top: 50px
    }
}

@media screen and (max-width: 767px) {

    #hello {
        position: relative;
        top: -20px;
        margin-bottom: 0;
        padding: 0
    }

    #bio {        
        margin-top: 50px
    }

    .lead {
        font-size: 14px
    }

    img{
        height: 200px;
        width: auto;
        margin: 0;
        margin-bottom: 10px;
        position: relative;
        top: -5px;
    }

    #contact-info{
        font-size: 8px
    }
}

@media screen and (max-width: 392px) {

    #hello{
        font-size: 40px
    }

    img {
        height: 100px
    }

    .lead{
        font-size: 10px
    }

    #bio{
        margin-top: 20px;
        font-size: 10px
    }
}

@media screen and (max-width: 316px) {

    #hello{
        font-size: 35px
    }
}
